@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.css";

*,
html,
body {
  font-family: "Rubik";
  scroll-behavior: smooth;
}
.arrow {
  border-top: 10px solid rgb(226, 226, 226);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.scrollContainer::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.scrollContainer::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollContainer::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 500px;
}

/* Handle on hover */
.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: #bdbbbb;
}

.scrollContainerForSidebar::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.scrollContainerForSidebar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollContainerForSidebar::-webkit-scrollbar-thumb {
  background: #4f6cc4;
  border-radius: 500px;
}

/* Handle on hover */
.scrollContainerForSidebar::-webkit-scrollbar-thumb:hover {
  background: #4f6cc4;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
